
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding: 0;
}

body {
  margin: 0;
  background-color: #222;
  font-size: 15px;
  color: #fff;
  padding: 0;
  line-height: 1;
  font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans', 'Arial'
}

b, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

img, object {
  max-width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

iframe {
  max-width: 100%;
}
  
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  vertical-align: middle;
}

ul, ol {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}
h1 {
  margin-bottom: 6px;
  text-align: center;
  font-size: 100%;
  font-weight: 200;
}
h2 {
  font-size: 300%;
  font-weight: 400;
  color: #fff;
}
h3 {
  font-size: 125%;
  font-weight: 300;
  color: #fff;
}

input {
  background-color: #444;
  border: none;
}

.dashboard_main {
	margin: 0px auto;
}

.gridster {
  margin: 0px auto;
}

.icon-background {
  pointer-events: none;
  width: 100%!important;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  font-size: 1375%;
  text-align: center;
  margin-top: 82px;
}

.list-nostyle {
  list-style: none;
}

.gridster ul {
  list-style: none;
}

.gs-w {
  width: 100%;
  display: table;
  cursor: pointer;
  z-index: auto !important;
}

.iframe {
  position: relative;
  overflow: hidden;  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

.widget {
  padding: 0px 0px;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background-color: #444444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

  .title {
    color: #fff;
  }

  .icon-inactive {
    color: #888;
  }

  .icon-active {
    color: #aaff00;
  }
}

#container {
  padding-top: 0px;
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialogOpen {
	opacity:0.95;
	pointer-events: auto;
}

.modalDialogClose {
	opacity:0;
	pointer-events: none;
}

.modalDialog > div {
	width: 275px;
	position: relative;
	margin: 3% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
}

.modalDialogCloseButton {
	line-height: 50px;
	position: absolute;
	right: -25px;
	text-align: center;
	top: -20px;
	width: 50px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.modalDialogCloseButton:hover { background: #444; }
.widget-baseclock-default-clock.date {
	position: absolute;
	top: 5px;
	width: 100%;
}
.widget-baseclock-default-clock.time {
 	position: absolute;
	top: 45px;
	width: 100%;
}
.widget-javascript-default-reload .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-javascript-default-reload .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-javascript-default-reload .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-javascript-default-reload .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basedisplay-default-weather-temperature .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-weather-temperature .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-weather-temperature .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-weather-temperature .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-weather-temperature .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-weather-temperature .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-lyft-line .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-lyft-line .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-lyft-line .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-lyft-line .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-lyft-line .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-lyft-line .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-google-time .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-google-time .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-google-time .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-google-time .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-google-time .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-google-time .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-crime .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-crime .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-crime .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-crime .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-crime .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-crime .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-basedisplay-default-livingroomlabel .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-livingroomlabel .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-livingroomlabel .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-livingroomlabel .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-livingroomlabel .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-livingroomlabel .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-kitchenfan {
	position: relative;
}

.widget-baseswitch-default-kitchenfan .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-kitchenfan .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-kitchenfan .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-kitchenfan .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-kitchenfan .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-livingroomlight {
	position: relative;
}

.widget-baseswitch-default-livingroomlight .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-livingroomlight .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-livingroomlight .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-livingroomlight .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-livingroomlight .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-livingroomtv {
	position: relative;
}

.widget-baseswitch-default-livingroomtv .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-livingroomtv .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-livingroomtv .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-livingroomtv .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-livingroomtv .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basedisplay-default-bedroomlabel .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-bedroomlabel .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-bedroomlabel .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-bedroomlabel .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-bedroomlabel .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-bedroomlabel .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-bedroomlight {
	position: relative;
}

.widget-baseswitch-default-bedroomlight .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-bedroomlight .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-bedroomlight .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-bedroomlight .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-bedroomlight .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-bedroomac {
	position: relative;
}

.widget-baseswitch-default-bedroomac .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-bedroomac .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-bedroomac .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-bedroomac .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-bedroomac .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basedisplay-default-garagelabel .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-garagelabel .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-garagelabel .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-garagelabel .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-garagelabel .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-garagelabel .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-garage-light {
	position: relative;
}

.widget-baseswitch-default-garage-light .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-garage-light .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-garage-light .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-garage-light .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-garage-light .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basedisplay-default-kitchenlabel .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-kitchenlabel .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-kitchenlabel .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-kitchenlabel .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-kitchenlabel .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-kitchenlabel .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-livingroombulb {
	position: relative;
}

.widget-baseswitch-default-livingroombulb .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-livingroombulb .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-livingroombulb .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-livingroombulb .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-livingroombulb .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-kitchenlight {
	position: relative;
}

.widget-baseswitch-default-kitchenlight .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-kitchenlight .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-kitchenlight .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-kitchenlight .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-kitchenlight .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-livingroomfan {
	position: relative;
}

.widget-baseswitch-default-livingroomfan .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-livingroomfan .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-livingroomfan .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-livingroomfan .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-livingroomfan .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basedisplay-default-phonelabel .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-phonelabel .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-phonelabel .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-phonelabel .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-phonelabel .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-phonelabel .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-raghvendra {
	position: relative;
}

.widget-baseswitch-default-raghvendra .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-raghvendra .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-raghvendra .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-raghvendra .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-raghvendra .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-parth {
	position: relative;
}

.widget-baseswitch-default-parth .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-parth .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-parth .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-parth .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-parth .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-sahil {
	position: relative;
}

.widget-baseswitch-default-sahil .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-sahil .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-sahil .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-sahil .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-sahil .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-varun {
	position: relative;
}

.widget-baseswitch-default-varun .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-varun .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-varun .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-varun .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-varun .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-basedisplay-default-automationlabel .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-automationlabel .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-automationlabel .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-automationlabel .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-automationlabel .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-automationlabel .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-allautomations {
	position: relative;
}

.widget-baseswitch-default-allautomations .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-allautomations .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-allautomations .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-allautomations .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-allautomations .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-dayautomation {
	position: relative;
}

.widget-baseswitch-default-dayautomation .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-dayautomation .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-dayautomation .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-dayautomation .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-dayautomation .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-nightautomation {
	position: relative;
}

.widget-baseswitch-default-nightautomation .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-nightautomation .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-nightautomation .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-nightautomation .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-nightautomation .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-homeautomation {
	position: relative;
}

.widget-baseswitch-default-homeautomation .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-homeautomation .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-homeautomation .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-homeautomation .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-homeautomation .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-awayautomation {
	position: relative;
}

.widget-baseswitch-default-awayautomation .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-awayautomation .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-awayautomation .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-awayautomation .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-awayautomation .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-kitchendooralert {
	position: relative;
}

.widget-baseswitch-default-kitchendooralert .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-kitchendooralert .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-kitchendooralert .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-kitchendooralert .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-kitchendooralert .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-garagelightalert {
	position: relative;
}

.widget-baseswitch-default-garagelightalert .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-garagelightalert .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-garagelightalert .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-garagelightalert .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-garagelightalert .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-baseswitch-default-motionalert {
	position: relative;
}

.widget-baseswitch-default-motionalert .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-motionalert .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-motionalert .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-motionalert .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-motionalert .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.widget-javascript-default-zen .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-javascript-default-zen .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-javascript-default-zen .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-javascript-default-zen .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-javascript-default-obsidian .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-javascript-default-obsidian .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-javascript-default-obsidian .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-javascript-default-obsidian .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-javascript-default-default .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-javascript-default-default .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-javascript-default-default .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-javascript-default-default .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-javascript-default-glassic .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-javascript-default-glassic .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-javascript-default-glassic .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-javascript-default-glassic .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-javascript-default-simplyred .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-javascript-default-simplyred .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-javascript-default-simplyred .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-javascript-default-simplyred .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
